@import './styles/variables';
@import './styles/mixins';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.btn-flat {
  background-color: #044caa;
  border: none;
  color: white;
  padding: 1em;
  cursor: pointer;

  &:hover {
    background-color: #1f5dad;
  }
}

@each $label, $prop in $marginRules {
  @include createMarginClasses($label, $prop);
}

@include createWidthClasses(w);
